* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    position: relative;
    flex-grow: 1;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    padding: 18px;
}

ul {
    list-style: none;
}

.header-list a {
    text-decoration: none;
    font-weight: bold;
}

.header-list {
    display: flex;
    gap: 16px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-bottom-1 h1 {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
}

a,
.hero-bottom-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-bottom {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 80px;
}

.hero-bottom-2 img {
    width: 350px;
    border-radius: 6%;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.hero-bottom-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 500px;
    z-index: 1;
}

button {
    padding: 6px 24px;
    background-color: #3882F6;
    border-radius: 8px;
    cursor: pointer;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 16px;
    padding: 20px;
}

.hero-bottom-2 {
    z-index: 1
}

.illustration1 {
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 7%;
    z-index: 0;
    opacity: 0.2;
}

.info {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    flex: 1 0 auto;
    z-index: 0;
    background-color: white;
    padding-bottom: 100px;
}

.info h1 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 48px;
}

.articleBox {
    width: 150px;
    height: 150px;
    border: 10px solid #3882F6;
    border-radius: 10%;
    margin: 0 auto;
    margin-bottom: 18px;
}

.articleText {
    width: 200px;
    text-align: center;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    flex: 1 0 auto;
}

.header-list a:hover {
    color: #3882F6;
}

button:hover {
    background-color: white;
    color: #3882F6;
    font-weight: bold;
}

.hero-bottom-2 img:hover {
    transform: scale(1.05) rotate(4deg);
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 10px;
    flex-shrink: 1;
    padding: 160px 80px;
}

.quote-source {
    align-self: flex-end;
    font-weight: 700;
    font-size: 32px;
}

.quote,
.quote-source {
    font-style: italic;
    color: #1f2937;
}

.quote {
    font-size: 36px;
}

.articleBox:hover {
    transform: scale(1.05) rotate(4deg);
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: 1 0 auto;
}

.call-to-action-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 800px;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 0 50px;
    padding: 24px 0;
}

.call-to-action-button {
    border: 2.5px solid white;
}

.call-to-action-text {
    color: white;
    margin: 20px;
}

.call-to-action-text1 {
    font-weight: 700;
    font-size: 18px;
}

.call-to-action-text2 {
    font-size: 14px;
}